{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% comment %} <div class="p-10 text-red-500 hover:text-center hover:bg-gray-400"> {% endcomment %}
        <h2>Home</h2>
        {% comment %} <div class="bg-gradient-to-r from-blue-400 to-blue-800 flex h-screen justify-center items-center text-white"> {% endcomment %}
            {% comment %} <h2 class="text-2xl">Test</h2> {% endcomment %}
            <p>Seja bem vindo a página</p>
        </div>
    </div>
{% endblock %}